# csv and files (there are a lot of them and they're ~28Mb each)
data/ord_covid
*.fasta
data/unc_covid/*.RDS
*.sam
data/sampled_covid
data/pangolineages
data/pangordlineages
data/unc_covid/metadata.tsv
*log.txt

.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
src/*.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
*.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/

# LaTeX outputs:
*aux
*log
*gz
*bbl
*blg
*out&
ms/*.toc
drafts/Skeleton.aux
drafts/*out



# Reads sequencing error simulations:
reads-seq-err/plot*.pdf
reads-seq-err/*.fastq
reads-seq-err/*_abundance.txt

# Sampling:
src/seqs/seqs*fasta*

src/trees/*.out
src/trees/*.nwk
src/trees/RAxML*.out*
src/raxml.out


# Plots:
src/Rplots.pdf
src/plot*.pdf
data/zanini/plot*.pdf

# Trees generated:
src/trees/*.nwk



drafts/Skeleton.aux
drafts/Skeleton.blg
drafts/Skeleton.aux
drafts/Skeleton.log
drafts/Skeleton.out
drafts/Skeleton.tex
drafts/Skeleton_files/figure-latex/ordered_lik-1.pdf
drafts/Skeleton_files/figure-latex/sampled_bars-1.pdf
drafts/Skeleton_files/figure-latex/unnamed-chunk-1-1.pdf
ms/sup-ms.out
drafts/Skeleton.blg
drafts/Skeleton_files/figure-latex/prm.btshp-1.pdf
drafts/Skeleton_files/figure-latex/tree_distances-1.pdf
drafts/Skeleton.pdf

data/zanini/prob_seq_zanini.RData
drafts/Skeleton_cache/
